  /* Пример @include btn(256px, 60px, transparent, $white, #005c01 ,$white, 2px solid $white); */
  @mixin btn($width,$height: 60px){
    width:$width;
    height:$height;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    font-size: 14px;
    font-weight: bold;
  }

/* Пример @include button-bg($color-2000); */
/* button */

@mixin button-bg($bg,$btn_text_color) {
    background-color: $bg;
    color: $btn_text_color;
    @media screen and (max-width: 480px){
      width: 100%;
    }
  }

/* Пример @include button-outline($color-2000); */
/* button */

@mixin button-outline($bg, $btn_text_color, $border) {
    background-color: $bg;
    color: $btn_text_color;
    border: $border;
  }


  @mixin link($color: $blue, $h-color: $red){
    transition: all .2s ease-out;
    color: $color;
    fill: $color;
    &:hover {
      color: $h-color;
      fill: $h-color;
      cursor: pointer;
      transition: all .2s ease-out;
    }
  }

  @mixin link_hover($background-color, $color){
    transition: all .2s ease-out;
    &:hover {
      color: $color;
      fill: $color;
      background-color: $background-color;
      transition: all .2s ease-out;
    }
  }
  
  @mixin link_hover_bot_border($color, $border){
    transition: all .3s ease-out;
    border-bottom: 2px solid transparent;
    &:hover {
      color: $color;
      border-bottom: $border;
      transition: all .3s ease-out;
    }
  }

  /* END buttons */

