// input style custom
// пример: @include input_castomize($green,$black,$black,.5s);
@mixin input_castomize($bsh: transparentize(red, 0.9), $bdc: gray, $pl: gray, $timetransit: 0.15s) {
    display: inline-block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: $color-7;
    background-image: none;
    border: 1px solid $bdc;
    -webkit-box-shadow: inset 0 0 1px $bdc;
    box-shadow: inset 0 0 1px $bdc;
    -webkit-transition: border-color ease-in-out $timetransit, -webkit-box-shadow ease-in-out $timetransit;
    -o-transition: border-color ease-in-out $timetransit, box-shadow ease-in-out $timetransit;
    transition: border-color ease-in-out $timetransit, box-shadow ease-in-out $timetransit;
  
    &:focus{
      border-color: $bsh;
      outline: 0;
      -webkit-box-shadow: inset 0 0 1px $bdc, 0 0 8px $bsh;
      box-shadow: inset 0 0 1px $bdc, 0 0 8px $bsh;
    }
  
    &::-moz-placeholder{
      color: $pl;
      opacity: 1;
    }
  
    &:-ms-input-placeholder{
      color: $pl;
    }
  
    &::-webkit-input-placeholder{
      color: $pl;
    }
  
    &::-ms-expand {
      background-color: transparent;
      border: 0;
    }
  }

  @mixin input-size($width, $height, $font) {
    width: $width;
    height: $height;
    font-size: $font;
  }