$lg-desktop-width: 1200px;
$md-desktop-width: 992px;
$sm-tablets-width: 768px;
$sm-mobile-width: 480px;
$extra-sm-mobile-width: 320px;

//Small	sm	≥576px
//Medium	md	≥768px
//Large	lg	≥992px
//Extra large	xl	≥1200px
//Extra extra large	xxl	≥1400px

/*==========  Desktop First  ==========*/

/* Large devices | 1200px or less */
@mixin xxl-desktop {
  @media only screen and (max-width: #{$screen-xxl}) {
    @content
  }
}

@mixin xl-desktop {
  @media only screen and (max-width: #{$screen-xl}) {
    @content
  }
}

@mixin lg-desktop {
  @media only screen and (max-width: #{$screen-lg}) {
    @content
  }
}

/* Medium devices | 992px or less */
@mixin md-desktop {
  @media only screen and (max-width: #{$screen-md}) {
    @content
  }
}

/* Small tablet devices | 768px or less */
@mixin sm-tablets {
  @media only screen and (max-width: #{$screen-sm}) {
    @content
  }
}

/* Small mobile devices | 480px or less */
@mixin sm-mobile {
  @media only screen and (max-width: #{$sm-mobile-width}) {
    @content
  }
}

/* Extra small mobile devices | 320px or less */
@mixin esm-mobile {
  @media only screen and (max-width: #{$extra-sm-mobile-width}) {
    @content
  }
}